<!-- extends bootstrap/base.html -->
<!-- not seeing this file yet-->
{% extends "bootstrap/base.html" %}


<!-- title -->
<!-- this can be covered -->
{% block title %}Flasky{% endblock %}


<!--head -->
{% block head %}
{{ super() }}

<!-- how can you run url_for() function in the ipython notebook -->
<link rel="shortcut icon"

  href="{{ url_for('static', filename='favicon.ico') }}"
  type="image/x-icon">


<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- index -->
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Flasky</a>
        </div>

        <div class="navbar-collapse collapse">

            <!-- notice the current_user variable -->
            <!-- defined by the Flask_Login, and is automatically available to the view functions and templates-->
            <!-- this variable contains the user currently logged in -->
            <!-- or a proxy anonymous user object if the user is not logged in.-->

            <!-- anonymous user objects respond to the is_authenticated() method with False-->
            <!-- can know whether the current user is logged in -->
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <!-- current_user comes from render_template() -->
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
                {% endif %}
            </ul>


            <ul class="nav navbar-nav navbar-right">
                {% if current_user.can(Permission.MODERATE_COMMENTS) %}
                <li><a href="{{ url_for('main.moderate') }}">Moderate Comments</a></li>
                {% endif %}
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ current_user.gravatar(size=18) }}">
                        Account <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                        <li><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
